.main {
  flex-direction: row;
  display: flex;
}

.toolbar {
  height: 0;
  /* width: 0; */
  z-index: 9;
  left: 0;
  top: 0;
  position: absolute;
}

.toolbar > div {
  transition: var(--translate-x-transition), width 0.25s ease;
  transform: translateX(var(--toolbar-offset-x))
    translateY(var(--toolbar-offset-y));
}

.drawer {
  width: 0;
  z-index: 7;
  position: relative;
}

.drawer > div {
  transition: var(--translate-x-transition);
  transform: translateX(var(--drawer-offset-x));
}

.list {
  width: 0;
  z-index: 4;
  position: relative;
}

.list > div {
  transition: var(--translate-x-transition);
  transform: translateX(var(--list-offset-x));
}

.list > div::before {
  content: '';
  height: var(--list-before-height);
  display: block;
}

.article {
  width: 100%;
  padding-left: var(--article-offset-x);
  position: relative;
}

.article > div::before {
  content: '';
  height: var(--article-before-height);
  display: block;
}
