.container {
  background-image: linear-gradient(
    180deg,
    transparent 5%,
    var(--background-color-lighter)
  );
  background-color: var(--list-background-color);
  height: var(--list-height);
  width: var(--list-width);
  flex: none;
  position: relative;
}
