#main {
  @media screen and (max-width: 1024px) {
    [data-ui-float-nav] > .wrap {
      transform: translateX(0);
    }

    [data-ui-column-left] > .wrap {
      transform: translateX(0);
    }

    [data-ui-column-list] > .wrap {
      transform: translateX(var(--column-list-w));
    }

    [data-ui-column-content] {
      .placeholder {
        &.left {
          width: var(--column-list-w);
        }
      }
    }
  }

  @media screen and (max-width: 800px) {
    [data-ui-column-list] > .wrap {
      transform: translateX(0);
    }

    [data-ui-column-content] {
      .placeholder {
        &.left {
          width: 0;
        }
      }
    }
  }
}
