#main {
  @media screen and (max-width: 1024px) {
    [data-ui-float-nav] > .wrap {
      transform: translateX(0);

      .tray {
        .search {
          & + .placeholder {
            left: calc(48px * 1 - 16px);
          }
        }

        .toggle-left {
          display: block;
        }
      }
    }

    [data-ui-column-left] {
      --column-left-p: 0;
    }

    [data-ui-column-list] {
      --column-list-p: var(--column-list-w);
    }

    [data-ui-column-content] {
      .placeholder {
        &.left {
          width: var(--column-list-w);
        }
      }
    }
  }

  @media screen and (max-width: 800px) {
    [data-ui-column-list] {
      --column-list-p: 0;
    }

    [data-ui-column-content] {
      .placeholder {
        &.left {
          width: 0;
        }
      }
    }
  }
}
