[data-current-view="main"] {
  height: 100%;
  width: 100%;
  overflow: hidden;

  body,
  [data-ui-app],
  [data-ui-main] {
    height: inherit;
    width: inherit;
  }
}

[data-ui-main] {
  > .wrap {
    height: inherit;
    width: inherit;
    display: flex;
    overflow: hidden;
  }
}

[data-ui-blank] {
  user-select: none;
  color: var(--blank-c-light) !important;
  line-height: 1;

  &,
  > * {
    letter-spacing: -0.25em;
  }
}

[data-ui-placeholder] {
  height: 100%;
  flex-shrink: 0;
}

[data-ui-placeholder="left"] {
  width: var(--column-list-px);
}

[data-ui-placeholder="right"] {
  width: var(--column-comment-w);
}

[data-ui-column-left],
[data-ui-column-list],
[data-ui-float-flip],
[data-ui-float-nav] {
  top: 0;
  left: 0;
  position: absolute;

  > .wrap {
    transition: transform 0.25s ease;
    position: relative;
  }
}

[data-ui-column-left],
[data-ui-column-list] {
  height: 100%;
  width: 0;
}

[data-ui-float-flip],
[data-ui-float-nav] {
  height: 0;
  width: 100%;
}

[data-ui-mask~="left"] {
  visibility: hidden;
  opacity: 0;

  background-color: var(--column-left-mask-bg-c);

  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  position: absolute;
  z-index: 6;

  overflow: hidden;
}

[data-ui-column-left] {
  z-index: 6;

  > .wrap {
    width: var(--column-left-w);
    height: var(--column-left-h);
    left: calc(var(--column-left-w) * -1);
    transform: translateX(var(--column-left-px));
  }
}

[data-ui-column-list] {
  z-index: 4;

  > .wrap {
    transform: translateX(var(--column-list-px));
    height: var(--column-list-h);
    width: var(--column-list-w);
    left: calc(var(--column-list-w) * -1);
    overflow: auto;
  }
}

[data-ui-float-nav] {
  width: 100%;
  z-index: 5;

  > .wrap {
    height: var(--float-nav-h);
    width: var(--float-nav-w);
    top: calc(var(--float-nav-h) * -1);
    transform: translateY(var(--float-nav-py)) translateX(var(--float-nav-px));
  }
}

[data-scroll-exceeded] {
  [data-ui-float-flip] {
    display: none;
  }
}

[data-ui-float-flip] {
  width: 100%;
  bottom: 0;
  top: initial;
  z-index: 5;

  > .wrap {
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .left,
  .right {
    transition: inherit;
  }

  .left {
    transform: translateX(var(--column-list-px))
      translateY(var(--float-flip-py));
  }

  .right {
    transform: translateY(var(--float-flip-py));
  }

  .middle {
    margin: auto;
  }
}

[data-ui-column-content] {
  height: 100%;
  width: 100%;

  > .wrap {
    height: 100%;
    width: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;

    > .article {
      min-height: 100%;
    }
  }
}

[data-ui-comment-editor],
[data-ui-comment-list] {
  > .wrap {
    max-width: var(--comment-mx-w);
    margin: auto;
  }
}

[data-ui-comment-editor] {
  top: 6px;
  bottom: calc(var(--comment-editor-h) * -1);
  position: sticky;
  z-index: 1;
}

[data-ui-comment-list] {
  position: relative;
  z-index: 0;
}
