:root {
  --primary-c: #3a9cf8;
  --main-bg-c: #ffffff;
  --column-left-w: 220px;
  --column-left-h: 100%;
  --column-left-px: var(--column-left-w); // position
  --column-left-bg-c: #ffffff;
  --column-left-mask-bg-c: rgba(238, 238, 238, 0.549);
  --column-list-w: 280px;
  --column-list-h: 100%;
  --column-list-px: calc(var(--column-left-w) + var(--column-list-w));
  --column-list-bg-c: #edf2f3;
  --column-content-bg-c: #ffffff;
  --float-nav-w: var(--column-list-w);
  --float-nav-h: 48px;
  --float-nav-py: calc(var(--float-nav-h) + 6px);
  --float-nav-px: var(--column-left-w);
  --float-nav-tray-w: 86%;
  --float-nav-tray-h: 42px;
  --float-nav-b-c: #ffffff;
  --float-nav-sd-c: rgba(152, 199, 212, 0.25);
  --float-nav-sd: 0 2px 4px 2px var(--float-nav-sd-c);
  --float-nav-icon-c: #222222;
  --float-nav-search-bg: transparent;
  --float-flip-btn-h: 72px;
  --float-flip-btn-c: var(--primary-c);
  --float-flip-btn-b-c: #ffffff;
  --float-flip-py: calc((50vh) * -1);
  --owner-area-t-c: #ffffff;
  --avatar-sz: 48px;
  --articles-item-bg-c: #ffffff;
  --articles-item-sd-c: #d9e9ee;
  --article-header-bg-c: #edf2f3;
  --comment-bg-c: #ffffff;
  --comment-mx-w: 480px;
  --comment-login-b-c: #ffffff;
  --comment-editor-h: 9em;
  --text-c-primary: #6f4521;
  --text-c-light: #858585;
  --text-c-dark: #5c5c5c;
  --text-c-darker: #353535;
  --text-info-c-light: #9cb0b3;
  --border-c-lighter: #dbdbdb;
  --tag-text-c: #fafafa;
  --tag-none-bg-c: #c5c5c5;
  --btn-normal-bg-c: #cccccc;
  --btn-disabled-bg-c: #b4b4b4;
  --blank-c-light: #d5e1e4;
}
