.container {
  width: var(--toolbar-width);
}

.wrap {
  background-image: linear-gradient(
    0deg,
    transparent 5%,
    var(--toolbar-background-color)
  );
  height: var(--toolbar-height);
  width: inherit;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  display: flex;
}

.wrap > button {
  box-shadow: 0 1rem 2rem 1rem var(--toolbar-shadow-color);
  margin: 0 8rem;
}
