.container {
  width: var(--toolbar-width);
}

.wrap {
  height: auto;
  /* width: var(--toolbar-width); */
  width: inherit;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  display: flex;
}
