.container {
  height: var(--app-height);
  width: var(--app-width);
  position: relative;
  overflow: hidden;
}

.wrap {
  background-color: lightsteelblue;
  height: 100%;
  width: 100%;
  flex-direction: row;
  display: flex;
}
