@import './assets/styles/variables.css';

:root {
  box-sizing: border-box;
  font-size: 0.0625em;
}

* {
  &,
  &::before,
  &::after {
    box-sizing: inherit;
  }
}

html {
  height: 100%;
  width: 100%;
}

body {
  font-size: 16rem;

  &,
  #root {
    height: inherit;
    width: inherit;
  }
}
