/* @import-normalize; */
@import '~normalize.css';

@import './assets/styles/variables.css';
@import './assets/styles/layout.css';
@import './assets/styles/media.css';

:root {
  box-sizing: border-box;
  font-size: 0.0625em;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  height: 100%;
  width: 100%;
}

body,
#root {
  font-size: 16rem;
  height: inherit;
  width: inherit;
}
