[data-ui-main] {
  flex-direction: row;
  display: flex;
}

[data-ui-main][data-ui-drawer-on] {
  --drawer-offset-x: 0;
}

[data-ui-main-mask] {
  transition: visibility 0.25s ease, opacity 0.25s ease;
}

[data-ui-main][data-ui-drawer-on] [data-ui-main-mask] {
  --main-mask-visibility: visible;
  --main-mask-opacity: 0.9;
  --main-mask-z-index: 7;
}

[data-ui-toolbar] {
  height: 0;
  z-index: 6;
  left: 0;
  top: 0;
  position: absolute;
}

[data-ui-toolbar] > div {
  transition: var(--translate-x-transition), width 0.25s ease;
  transform: translateX(var(--toolbar-offset-x))
    translateY(var(--toolbar-offset-y));
}

[data-ui-drawer] {
  width: 0;
  z-index: 7;
  position: relative;
}

[data-ui-drawer] > div {
  transition: var(--translate-x-transition);
  transform: translateX(var(--drawer-offset-x));
}

[data-ui-list] {
  width: 0;
  z-index: 4;
  position: relative;
}

[data-ui-list] > div {
  transition: var(--translate-x-transition);
  transform: translateX(var(--list-offset-x));
  padding-top: var(--list-padding-top);
}

[data-ui-article] {
  width: 100%;
  padding-left: var(--article-offset-x);
  position: relative;
}

[data-ui-article] > div {
  padding-top: var(--article-padding-top);
}
