:root {
  /* Common */
  --background-color-lighter: #edf2f3;

  /* Common/Card */
  --card-background-color: #ffffff;

  /* App */
  --app-height: 100vh;
  --app-width: 100vw;

  /* Main */
  --main-background-color: lightsteelblue;
  --main-height: var(--app-height);
  --main-width: var(--app-width);

  /* Drawer */
  --drawer-background-color: white;
  --drawer-height: var(--app-height);
  --drawer-width: 224rem;

  /* List */
  --list-background-color: white;
  --list-height: var(--app-height);
  --list-width: 286rem;

  /* ListItem */
  --list-item-background-color: white;

  /* Article */
  --article-background-color: lightgrey;
  --article-height: var(--app-height);
  --article-width: 100%;
}
