/* Base */
:root {
  --color-primary: #f8c424;
  --color-light10: #ffffff;

  --color-text-normal: #202020;
  --color-text-light0: var(--color-text-normal);
  --color-text-light1: #353535;
  --color-text-light2: #4b4b4b;
  --color-text-light3: #505050;
  --color-text-light4: #6e6e6e;
  --color-text-light10: var(--color-light10);

  --background-color-lighter: #edf2f3;

  --card-shadow-color: rgba(192, 173, 89, 0.225);
  --card-background-color: var(--color-light10);

  --main-background-color: var(--color-light10);
  --main-mask-background-color: #edf2f3;
  --main-mask-opacity: 0;
  --main-mask-visibility: hidden;
  --main-mask-z-index: 0;

  --toolbar-shadow-color: rgba(194, 178, 108, 0.225);
  --toolbar-background-color: var(--color-light10);

  --drawer-background-color: var(--color-light10);

  --list-background-color: var(--color-light10);
  --list-item-background-color: var(--color-light10);

  --article-background-color: var(--color-light10);
  --article-info-background-color: #f5f5f5;
}

/* Size */
:root {
  --app-height: 100vh;
  --app-width: 100vw;

  --main-height: var(--app-height);
  --main-width: var(--app-width);

  --drawer-height: var(--app-height);
  --drawer-width: 224rem;

  --list-height: var(--app-height);
  --list-width: 286rem;

  --article-height: var(--app-height);
  --article-width: 100%;

  --toolbar-height: 72rem;
  --toolbar-width: var(--list-width);
}

/* Layout */
:root {
  --translate-x-transition: transform 0.25s ease;

  --offset-x: 0rem;
  /* --offset-x: calc(var(--drawer-width) * -1); */
  /* --offset-x: calc(calc(var(--drawer-width) + var(--list-width)) * -1); */

  --toolbar-offset-x: var(--list-offset-x);
  --toolbar-offset-y: -0%;
  --drawer-offset-x: calc(var(--offset-x));
  --list-offset-x: calc(var(--drawer-offset-x) + var(--drawer-width));
  --list-padding-top: calc(var(--toolbar-height) - 8rem);
  --article-offset-x: calc(var(--list-offset-x) + var(--list-width));
  --article-before-height: 0;
}
